<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Context</servlet-name>
        <servlet-class>servlet.Servlet_Context</servlet-class>
        <context-param>
            <param-name>website</param-name>
            <param-value>shahin.az</param-value>
        </context-param>
        <context-param>
            <param-name>emailaddress</param-name>
            <param-value>reshidshahin@gmail.com</param-value>
        </context-param>
    </servlet>
    <servlet>
        <servlet-name>Context_ile_File</servlet-name>
        <servlet-class>context_ile_file.Context_ile_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextScope</servlet-name>
        <servlet-class>attribute.ContextScope</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionScopeExample</servlet-name>
        <servlet-class>attribute.SessionScopeExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadingSessionScope</servlet-name>
        <servlet-class>attribute.ReadingSessionScope</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestAttributeExample</servlet-name>
        <servlet-class>requestscope.RequestAttributeExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderGoturmeDeyisme</servlet-name>
        <servlet-class>veri.HeaderGoturmeDeyisme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Context_ile_File</servlet-name>
        <url-pattern>/context</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextScope</servlet-name>
        <url-pattern>/ContextScope</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionScopeExample</servlet-name>
        <url-pattern>/SessionScopeExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadingSessionScope</servlet-name>
        <url-pattern>/ReadingSessionScope</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestAttributeExample</servlet-name>
        <url-pattern>/RequestAttributeExample</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>listener.ServletContextListenerImpl</listener-class>
    </listener>
    <listener>
        <listener-class>listener.ServletContextListenerImpl2</listener-class>
    </listener>
    <listener>
        <listener-class>listener.ServletContextListenerImpl3</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>HeaderGoturmeDeyisme</servlet-name>
        <url-pattern>/HeaderGoturmeDeyisme</url-pattern>
    </servlet-mapping>
</web-app>
